<div class="container marketing">
  <div class="row featurette">
    <div class='<%= "col-md-7 #{featurette_item_class}" %>'>
      <h2 class="featurette-heading"><%= header %><span class="text-muted"> <%= sub_header %></span></h2>
      <p class="lead"><%= copy %></p>
    </div>
    <div class="col-md-5 order-md-1">
      <%= image_tag "#{img}", class: 'featurette-image img-fluid mx-auto' %>
    </div>
  </div>
  <hr class="featurette-divider">
