<div class="form-group">
  <%= form_with(model: organisation) do |form| %>
    <% if organisation.errors.any? %>
      <div class="text-danger">
        <p class="font-weight-bold"><%= pluralize(organisation.errors.count, "error") %> prohibited this organisation from being saved:</p>
        <ul>
          <% organisation.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="mt-3">
      <%= form.label :short_description %>
      <%= form.text_area :short_description, class: 'form-control' %>
    </div>
    <% if can? :manage, Organisation %>
      <div class="mt-3">
        <%= form.label :licenses %>
        <%= form.text_area :licenses, class: 'form-control' %>
      </div>
    <% end %>
    <div class="mt-5">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
