<div class="form-group">
  <%= form_with(model: organisation) do |form| %>
    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>
    <div class="mt-3">
      <%= form.label :short_description, style: "display: block" %>
      <%= form.text_area :short_description %>
    </div>
    <% if can? :manage, Organisation %>
      <div class="mt-3">
        <%= form.label :licenses, style: "display: block" %>
        <%= form.text_area :licenses %>
      </div>
    <% end %>
    <div class="mt-5">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
