<% org_users = @organisation.users %>
<div class="container py-3">
  <div class="mt-5">
    <h1>Manage Organisations</h1>
    <%= render @organisation %>
    <div>
      <%= link_to "Edit this organisation", edit_organisation_path(@organisation), class: 'btn btn-primary' %> |
      <%= link_to "Back to organisations", organisations_path, class: 'btn btn-primary' %>
      <% if can? :destroy, @organisation %>
        <%= button_to 'Destroy', @organisation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% else%>
        <p class="mt-3">You don't have privileges to destroy this organisation. Contact a BYBB super admin if you wish to terminate your account.</p>
      <% end %>
      <hr>
      <h2>Users associated with this organisation</h2>
      <li>Total of licenses used: <%= org_users.count %></li>
      <li>Licenses remaining: <%= @organisation.remaining_licenses_count %>
        <% if org_users.any? %>
          <% org_users.each do |u| %>
            <li><%= link_to "#{u.email}", u %></li>
          <% end%>
        <% else %>
          <div class ="mt-3">
            <p>No users for this organisation. You can invite users on the 'Users' section of your <%= link_to 'dashboard', dashboard_path %></p>
          <% end%>
        </div>
      </div>
    </div>
