<div class="form-group">
  <%= form_with(model: @user) do |form| %>
    <% if current_user.role.admin?%>
      <div>
        <%= form.label :organisation_id, style: "display: block" %>
        <%= form.select :organisation_id, organisation_options, include_blank: true %>
      </div>
    <% end %>
    <div class="mt-3">
      <%= form.label :manager_id, style: "display: block" %>
      <%= form.select :manager_id, user_options, include_blank: true %>
    </div>
    <div class="mt-5">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
