<div class="container py-3">
  <div class="mt-5">
    <h1>Manage User</h1>
    <%= render @user %>
    <div>
      <%= link_to "Edit this user", edit_user_path(@user), class: 'btn btn-primary' %> |
      <%= link_to "Back to users", users_path, class: 'btn btn-primary' %>
      <% if can? :destroy, @user %>
        <%= button_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% else%>
        <p class="mt-3">You don't have privileges to destroy this user. Contact a BYBB super admin if you wish to terminate your account.</p>
      <% end %>
    </div>
    <hr>
    <h2>Organisation associated for this user</h2>
    <% if @user.organisation.present? %>
      <li><%= @user.organisation.title %></li>
      <div class="mt-3">
        <p>If you are a SuperAdmin and want to change it, please click on 'Edit this user' </p>
      </div>
    <% else %>
      <p>No organisation associated for this user. Update it now by adding the organisation id</p>
      <%= render "form", user: @user %>
    <% end%>
    <hr>
    <h2>Manager associated for this user</h2>
    <% if @user.manager_assigned? %>
      <li><%= current_user.manager_email(current_user.manager_id) %></li>
    <% else %>
      <p>No manager associated for this user. Please click on 'Edit this user' to add a manager</p>
    <% end %>
  </div>
</div>
