<div class="d-flex justify-content-center mt-5 form-group">
  <%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
      <div class="text-danger">
        <p class="font-weight-bold"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</p>
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="text-center">
      <%= form.text_area :body, required: true, class: 'form-control-lg' %>
    </div>
    <div class = "mt-5 text-center">
      <%= form.submit "Create", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
