<%= form_with(model: reviews_cycle) do |form| %>
  <% if reviews_cycle.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reviews_cycle.errors.count, "error") %> prohibited this reviews_cycle from being saved:</h2>
      <ul>
        <% reviews_cycle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
