<p style="color: green"><%= notice %></p>
<%= render @reviews_cycle %>
<div>
  <%= link_to "Edit this reviews cycle", edit_reviews_cycle_path(@reviews_cycle) %> |
  <%= link_to "Back to reviews cycles", reviews_cycles_path %>
  <%= button_to "Destroy this reviews cycle", @reviews_cycle, method: :delete %>
</div>
