<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
  <div class="form">
    <%= form_with(model: review) do |form| %>
      <% if review.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
          <ul>
            <% review.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="mt-5">
        <p>Question here</p>
        <%= form.text_field :answer_one, class: 'form-control mt-2' %>
        <p>Question here</p>
        <%= form.text_field :answer_two, class: 'form-control mt-2' %>
        <p>Question here</p>
        <%= form.text_field :answer_three, class: 'form-control mt-2' %>
        <p>Question here</p>
        <%= form.text_field :answer_four, class: 'form-control mt-2' %>
        <p>Question here</p>
        <%= form.text_field :answer_five, class: 'form-control mt-2' %>
        <p>Question here</p>
        <%= form.text_field :answer_six, class: 'form-control mt-2' %>
        <p>Question here</p>
        <%= form.text_field :answer_seven, class: 'form-control mt-2' %>
        <p>Question here</p>
        <%= form.text_field :answer_eight, class: 'form-control mt-2' %>
        <p>Question here</p>
        <%= form.text_field :answer_nine, class: 'form-control mt-2' %>
        <p>Question here</p>
        <%= form.text_field :answer_ten, class: 'form-control mt-2' %>
      </div>
      <div>
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
