<div class="container py-3">
  <div class="mt-5">
    <h1>Your weekly reports</h1>
    <div id="reports">
      <% if @reports.any? && current_user.reports.last.submitted_this_week? %>
        <p>You are up to date and don't need to submit another report this week. You can still edit this week's report.</p>
      <% else %>
        <p> You haven't submitted a report this week yet :)</p>
        <%= link_to "Create a new report", new_report_path , class: 'btn btn-success' %>
      <% end %>
      <div class="container py-3">
        <div class="mt-5">
          <% if current_user.manager_id.present?  %>
            <div class="mt-5"id="reports">
              <% if @reports.any? %>
                <% @reports.each do |report| %>
                  <div class="table-responsive">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Submitted on</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row"><%= report.id%></th>
                          <td><%= link_to "#{report.created_at.to_s(:custom_datetime) }", report, class: 'text-decoration-none' %> </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                <% end %>
              <% end%>
              <div class="mt-5">
              </div>
            <% else %>
              <p>You haven't been assigned to a line manager yet and can't create a report.</p>
            <% end %>
          </div>
          <% if reports_for_current_user_manager.any? %>
            <h1>Your direct reports</h1>
            <% reports_for_current_user_manager.each do |report| %>
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Employee</th>
                      <th scope="col">Submitted on</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><%= report.id%></th>
                      <td><%= link_to "#{report.user.email}", report, class: 'text-decoration-none' %></td>
                      <td><%= link_to "#{report.created_at.to_s(:custom_datetime) }", report, class: 'text-decoration-none' %> </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            <% end %>
          <% end%>
        </div>
      </div>
    </div>
  </div>
</div>
